:root {
  --primary-color: #39a6b2;
  --secondary-color: #032131;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header Style */
header {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  height: 100px;
  z-index: 9999;
}

header h1 {
  background-color: var(--primary-color);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

header h1 a {
  color: var(--secondary-color);
  margin-left: 60px;
  font-size: 50px;
  display: flex;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 600px;
  margin-top: 33px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 3px solid var(--primary-color);
}

/* Hero Style */

.hero {
  background-image: url("../images/hero-portfolio.jpg");
  height: 250px;
  display: relative;
}

/* .hero div { 
  background-color: var(--primary-color);
  margin-bottom: 200px;
}
*/

.hero div {
  display: relative;
  width: 270px;
  padding: 7px;
  margin: 170px;
  background-color: var(--primary-color);
  height: 60px;
  float: right;
  margin-right: 25px;
}

.hero div h2 {
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
}
