:root {
  --primary-color: #c0b33f;
  --secondary-color: #462363;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header Style */
header {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  z-index: 9999;
}

header h1 {
  background-color: var(--primary-color);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

header h1 a {
  color: var(--secondary-color);
  margin-left: 60px;
  font-size: 30px;
  display: flex;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 600px;
  margin-top: 33px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 3px solid var(--primary-color);
}

/* Hero Style */

.hero {
  background-image: url("../images/hero-portfolio.jpg");
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.hero div {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 270px;
  background-color: var(--primary-color);
  height: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hero div h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: var(--secondary-color);
}

/* body style */

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.main div {
  border-right: 3px solid var(--secondary-color);
  margin-left: 150px;
}
.main h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: var(--secondary-color);
  width: 100px;
}

.main article {
  min-width: 820px;
}
.main article p {
  font-family: Arial, Helvetica, sans-serif;
}

.work h2 {
  margin-left: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: var(--secondary-color);
  min-width: 100px;
  min-height: 800px;
  border-right: 3px solid var(--secondary-color);
}

.work {
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin-right: 20px;
}

.wrapper a {
  text-decoration: none;
}

.box1 {
  display: flex;
  background-image: url(../images/project-1.jpg);
  background-size: 100%;
  min-height: 400px;
  min-width: 800px;
  border: 3px solid var(--primary-color);
  margin-bottom: 10px;
}

.box2 {
  display: flex;
  background-image: url(../images/project-2.jpg);
  background-size: 100%;
  min-height: 200px;
  min-width: 395px;
  border: 3px solid var(--primary-color);
  margin-bottom: 10px;
  margin-right: 10px;
}

.box3 {
  display: flex;
  background-image: url(../images/project-3.jpg);
  background-size: 100%;
  min-height: 200px;
  min-width: 395px;
  border: 3px solid var(--primary-color);
  margin-bottom: 10px;
}

.box4 {
  display: flex;
  background-image: url(../images/place-holder-site.jpg);
  background-size: 100%;
  min-height: 200px;
  min-width: 395px;
  border: 3px solid var(--primary-color);
  margin-right: 10px;
}
.box5 {
  display: flex;
  background-image: url(../images/place-holder-img2.jpg);
  background-size: 100%;
  min-height: 200px;
  min-width: 395px;
  border: 3px solid var(--primary-color);
}
.caption-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.caption-box h3 {
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
  font-weight: bold;
}
.caption-box p {
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
}
.wrapper a :hover {
  opacity: 0.5;
}

footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer ul {
  min-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
footer h3 {
  display: flex;
  margin-left: 67px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: var(--secondary-color);
}
footer div {
  border-right: 3px solid var(--secondary-color);
}

footer ul li {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
}

@media screen and (max-width: 947px) {
  header h1 a {
    font-size: 25px;
  }

  header nav ul {
    margin-top: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .main div {
    border-right: 0px solid var(--secondary-color);
    margin-left: 0px;
  }
  .main article {
    min-width: 550px;
  }
  .work {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .work h2 {
    min-height: 20px;
    border-right: 0px solid var(--secondary-color);
    margin-right: 0px;
  }
  .box1 {
    min-width: 400px;
  }
}
